<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.example.echo"
        version="1.0.0">
    <name>EchoPlugin</name>
    <js-module src="www/Echo.js" name="Echo">
        <clobbers target="window.echoTest" />
    </js-module>
    <platform name="android">
        <source-file src="src/android/EchoPlugin.java" target-dir="src/com/example/echo" />
	<config-file target="res/xml/config.xml" parent="/*">
            <feature name="EchoPlugin">
                <param name="android-package" value="com.example.echo.EchoPlugin" />
            </feature>
        </config-file>
    </platform>
    <platform name="ios">
        <source-file src="src/ios/EchoPlugin.m" />
    </platform>
</plugin>
